@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: grid;
  grid-template-areas: "main";
  grid-template-rows: auto;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  border: 0px;
  overflow-x: hidden;
  min-height: 100vh;
  transition: 1s color;
}

.grid-area-main {
  grid-area: main;
}
