@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 82px 1fr auto;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  border: 0px;
  overflow-x: hidden;

}

.grid-area-header {
  grid-area: header;
}

.grid-area-main {
  grid-area: main;
}

.grid-area-footer {
  grid-area: footer;
}