@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins&display=swap");

#login-blur:target {
  display: flex;
}

#login-blur:target::after {
  animation: fade-in 1s ease;
}

#login-blur:target .login-wraper {
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

#login-blur {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100svw;
  height: 100svh;
  z-index: 100;
  font-family: poppins;
}

#login-blur::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.overflow-handler {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  scale: 0.9;
  font-family: poppins;
}

.login-wraper {
  width: 500px;
  overflow: hidden;
  border-radius: 10px;
}

.login-wraper::-webkit-scrollbar {
  display: none;
}

.login-form,
.createAccnt {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  height: 500px;
  width: 500px;
  padding-bottom: 30px;
  background-color: whitesmoke;
  overflow: hidden;
}

.login-top {
  display: flex;
  padding: 10px 35px;
  width: 100%;
  height: 88px;
  align-items: center;
  justify-content: space-between;
  background-color: #8836df;
  color: whitesmoke;
}

.login-top h1 {
  font-size: 45px;
}

.login-top p {
  font-size: 20px;
}

.login-top label {
  display: grid;
  place-items: center;
  padding: 10px;
  background-color: whitesmoke;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.float-label {
  position: relative;
}

.login-form .float-label:not(:nth-child(2)) {
  margin-bottom: 33px;
}

.createAccnt .float-label:not(:nth-child(3)) {
  margin-bottom: 33px;
}

.float-label #email,
.float-label #password,
.float-label #user {
  border: solid 1px rgb(102, 102, 102);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 0px 10px;
  outline: none;
  font-size: 25px;
}

.float-label label[for="password"],
.float-label label[for="email"],
.float-label label[for="user"] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 23px;
  -webkit-transition: ease-in-out;
  -webkit-transition-duration: 300ms;
  color: rgb(97, 97, 97);
}

#showPassword {
  display: none;
}

.showPassword {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
}

.float-label #password:focus ~ label[for="password"],
.float-label #user:focus ~ label[for="user"],
.float-label #email:focus ~ label[for="email"],
.float-label #password:not(:placeholder-shown) ~ label[for="password"],
.float-label #user:not(:placeholder-shown) ~ label[for="user"],
.float-label #email:not(:placeholder-shown) ~ label[for="email"] {
  font-size: 23px;
  top: -12px;
  left: 15px;
  -webkit-transition: ease-in-out;
  -webkit-transition-duration: 300ms;
  color: black;
}

.buttonEnabled {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(140, 0, 255);
  color: whitesmoke;
  padding: 6px 30px;
  border-radius: 10px;
  font-weight: initial;
  font-size: 20pt;
  font-family: poppins;
  cursor: pointer;
}

.buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 0px;
  width: 90%;
  height: 100%;
}

.inputs-container p {
  font-size: 23px;
  border-bottom: 1px solid black;
  height: 30px;
  margin-bottom: 10px;
}

.inputs-container p:not(:first-child) {
  margin-top: 20px;
}

.sair {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  top: -50px;
  right: 0px;
  text-decoration: none;
  font-size: 30px;
  outline: none;
  color: rebeccapurple;
}

.login-scroll {
  display: flex;
  width: 200%;
}

#login,
#createAccnt {
  display: none;
}

.createAccnt {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: whitesmoke;
  padding-bottom: 0px;
}

.createAccnt .inputs-container {
  height: fit-content;
}

.overflow {
  overflow-y: scroll;
  height: fit-content;
}

.overflow::-webkit-scrollbar {
  display: none;
}

#createAccnt:checked ~ .login-scroll {
  margin-left: -100%;
  transition: 1s all;
}

#login:checked ~ .login-scroll {
  margin-left: 0px;
  transition: 1s all;
}

.createAccnt .login-top {
  flex-direction: row-reverse;
}

#bDay,
#gender {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  box-shadow: 2px 3px 5px 3px rgb(224, 208, 223);
}

#gender {
  font-size: 20px;
  border: 0px;
  outline: none;
  font-family: poppins;
}

#bDay {
  height: 30px;
}

.gamesRadio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 2px 3px 5px 3px rgb(224, 208, 223);
  padding: 10px 0px;
  border-radius: 5px;
}

.gamesRadio div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  margin: 5px;
  background-color: rgb(228, 228, 228);
  padding: 5px 10px;
  border-radius: 5px;
}

.gamesRadio input {
  scale: 1.3;
}

/* eu sou gay gosto de homens meu nome é muliro */